body{
    width: 400px;
    height: 200px;
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    border:1px solid black;
}
h3{
    font-size: 30px;
}
button{
    padding:5px;
}
input{
    padding: 5px;
}
.conten{
    background:black;
    color: blanchedalmond;
}
